:root {
  --hot-pink: #e11774;
  --neon-blue: #05fff4;
  --light-blue: #46a4df;
  --purple: #7030a0;
  --primary-black: #000;
  --white: #fff;
  --secondary-green: #92d050;
  --secondary-yellow: #ffc000;
  --secondary-gray: #575757;
}

body {
  margin: auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
}

.board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
