:root {
  --hot-pink: #e11774;
  --neon-blue: #05fff4;
  --light-blue: #46a4db;
  --primary-black: #000;
}

html {
  font-size: 1.8vh;
}

body {
  margin: auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
}

.app {
  max-height: 100vh;
}

.board {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.box {
  height: 8rem;
  width: 8rem;
}
